<nav>
  <button id="translate" class="btn">EN / ES</button>
</nav>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const btn = document.getElementById("translate");
    btn?.addEventListener("click", () => {
      window.location.href = window.location.pathname === "/es" ? "/" : "/es";
    });
  });
</script>

<style>
  nav {
    position: fixed;
    right: 0;
    padding: 18px;
    background-color: #bedbfa;
    border-radius: 10%;
  }
  .btn {
    background-color: #758ca5;
    border-radius: 5px;
    border: 0;
    color: #1e3650;
    transition: all;
  }
  .btn:hover {
    transform: scale(1.1);
    cursor: pointer;
    opacity: 80%;
  }
</style>
